body{
    background-color: blue;
}
td{
border: 1 px solid black;
padding: 10px;
background-color: blue;
}
j{
position: absolute;
width: 808px;
height: 632px;
left: 296px;
top: 276px;

background: #FFFFFF;

}
x{
display: ;
flex-direction: ;
justify-content: ;
}
zagolovok{}
a{
    color:yellow
    text-decoration:;
font-size:;
display:;
background-color:;
padding:;
border:;
}